<h1>Esto es un triste intento</h1>
<p>ojala funcione :'v
    esto es un enlace, va justo <%= link_to "Aqui", "https://www.google.com.co/search?q=google&oq=google&aqs=chrome..69i57j69i60j0j69i60l3.967j0j7&sourceid=chrome&ie=UTF-8"%>
</p>
